##
# LaTeX
##
Report/*.acn
Report/*.acr
Report/*.alg
Report/*.aux
Report/*.bbl
Report/*.blg
Report/*.dvi
Report/*.fdb_latexmk
Report/*.glg
Report/*.glo
Report/*.gls
Report/*.idx
Report/*.ilg
Report/*.ind
Report/*.ist
Report/*.lof
Report/*.log
Report/*.lot
Report/*.maf
Report/*.mtc
Report/*.mtc0
Report/*.nav
Report/*.nlo
Report/*.out
Report/*.pdfsync
Report/*.ps
Report/*.snm
Report/*.synctex.gz
Report/*.toc
Report/*.vrb
Report/*.xdy
Report/*.tdo
Report/TSWLatexianTemp*
Report/*.pdf
Report/example

##
# General OS X
##
.DS_Store
